<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">${db.dialect}</property>
		<property name="hibernate.hbm2ddl.auto">${db.hbm2ddl.auto}</property>
		<mapping class="fr.afcepf.atod26.ws.authentification.entity.User" />
	</session-factory>
</hibernate-configuration>
